---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Профіль</div>
  </div>

  <div class="mb-10 text-justify">
    Мене звати Михайло, я інженер-механік з досвідом роботи в різних галузях. 
    Маю знання в опорі матеріалів, теорії механізмів і машин, деталях машин та інших інженерних дисциплінах.
    Мені подобається навчати інших та ділитися своїми знаннями.
    Я завжди відкритий до нових викликів і можливостей для професійного зростання.
    Маю досвід викладання та практичний досвід у розрахунках та конструюванні механічних систем.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Досвід викладання</div>
  </div>

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="З 2019 року викладаю в індивідуальному порядку"
    subtitle="З 2019 викладаю онлайн дисципліни: опір матеріалів, теорія механізмів і машин, деталі машин. Маю досвід викладання нашим співвітчизникам, які проживають за кордоном (Польща, Австрія, Словаччина)."
  />
</div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Освіта</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Національний Університет Харчових Технологій"
      subtitle="з 2009 по 2015 навчався та отримав ступінь магістра та професіну кваліфікацію інженера-механіка, наукового співробітника, викладача вищого навчального закладу, Київ"
    />
    <TimeLineElement
      title="Кам'янець-Подільський коледж харчової промисловості НУХТ"
      subtitle="з 2005 по 2009 навчався та отримав ступінь молодшого спеціаліста та професіну кваліфікацію: технік-механік, Кам'янець-Подільський"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Досвід</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Інженер сервісного центру"
      subtitle="з 2022 в 'Hilti(Україна)', Київ"
    >
     Відповідаю за ремонт та обслуговування інструментів Hilti, відповідальний за надання високоякісного сервісу клієнтам, навчання нових співробітників.
    </TimeLineElement>
    <TimeLineElement
      title="Токар/пресовщік"
      subtitle="з 2019 по 2021 в ЮТЕМ, Буча (Київська область)"
    >
      Виконував токарні роботи, налагоджував та виконував роботи на токарних автоматах, відповідав за якість виготовлених деталей.
    </TimeLineElement>
    <TimeLineElement
      title="Різноробочий"
      subtitle="з 2016 по 2019 працював у декількох компаніях, Київ"
    >
      Виконував різноманітні роботи: 
        токарні роботи на верстатах та ЧПУ, 
        фрезерування, 
        різання металу на плазморізальних верстатах, 
        рубання листового металу на гільотинах, 
        складання та монтаж конструкцій,
        обслуговування та ремонт обладнання,
        керування процесами збирання та пакування продукції.
    </TimeLineElement>

    <TimeLineElement
      title="Слюсар-монтажник/ Майстр ділянки/ Механік цеху"
      subtitle="з 2012 по 2016 в ДП'Антонов'', Київ"
    >
      Виконував монтаж стапелів, керував процесами виготовлення елементів для стапелів на верстатах, був відповідальним за ремонт та своєчасне обслуговування обладнання цеху.
    </TimeLineElement>
 </div>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Володіння інженерними програмами</div>
</div>

<ul class="list-disc md:columns-5 columns-2 mx-6">
  <li>КОМПАС-3D</li>
  <li>MathCAD</li>
  <li>Inventor</li>
  <li>AutoCAD</li>
</ul>

<div class="mb-5 mt-8">
  <div class="text-3xl w-full font-bold">Володіння іншими програмами</div>
</div>

<ul class="list-disc md:columns-4 columns-2 mx-6">
  <li>Microsoft Word</li>
  <li>Microsoft Excel</li>
  <li>Microsoft PowerPoint</li>
  <li>Google Docs / Sheets</li>
  <li>Adobe Photoshop</li>
  <li>Програмування  Java/Python/Котлін/C#</li>
  
  <li>Docker</li>
  <li>Coolify</li>
  <li>HTML / CSS</li>
  <li>Git / GitHub</li>
  <li>SAP</li>
</ul>

<div class="mb-5 mt-8">
  <div class="text-3xl w-full font-bold">Професійні навички </div>
</div>

<ul class="list-disc md:columns-3 columns-2 mx-6">
  <li>Читання принципових схем механізмів</li>
  <li>Складання схем механізмів</li>
  <li>Проектування графіків планових робіт</li>
  <li>Створення графіків для аналізу</li>
  <li>Розрахунок навантажень у вузлах</li>
  <li>Підбір матеріалів для конструкцій</li>
  <li>Аналіз міцності деталей</li>
  <li>Розробка 3D-моделей механізмів</li>
  <li>Побудова кінематичних діаграм</li>
  <li>Планування технічного обслуговування</li>
</ul>

</BaseLayout>
