---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Tutorly Study. Сайт репетиторів
  </div>
  <div class="inline opacity-75">
    Особистий сайт: <a href="https://radmykh.pp.ua" target="_blank" class="font-bold">Радченко Михайло</a>

</footer>
<style></style>
