---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Курс: Опір матеріалів" sideBarActiveItemID="courses">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-4">Курс: Опір матеріалів</h1>

    <p class="text-lg mb-6">
      Курс охоплює основні методи аналізу напружено-деформованого стану елементів конструкцій та методики перевірки їхньої міцності, жорсткості й стійкості.
      Вивчаються як прості випадки деформацій (розтяг, стиск, кручення, згин), так і складні форми опору.
      Окрема увага приділяється методам розрахунку статично визначених і невизначених пружних систем,
      роботі конструкцій при динамічних та циклічних навантаженнях.
    </p>

    <p class="text-lg mb-6">
      Курс є базовим для підготовки інженера-механіка, конструктора, проектанта будівельних, машинобудівних і авіаційних конструкцій.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Перелік занять</h2>
 <ol class="list-decimal pl-6 space-y-3">
  <li>
    <a href="https://radmykh.pp.ua/store/Roztyag-i-stysk" class="link link-primary">Розтяг і стиск</a><br/>
    – Напруження і деформації при розтягу/стиску <br/>
    – Діаграми деформування матеріалів <br/>
    – Модуль пружності, коефіцієнт Пуассона <br/>
    – Умови міцності та жорсткості
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Kruchennya" class="link link-primary">Кручення</a><br/>
    – Вали при крученні <br/>
    – Дотичні напруження <br/>
    – Кут закручування і міцність
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Zsuv-i-zmynannya" class="link link-primary">Зсув і зминання</a><br/>
    – Чистий зсув <br/>
    – Зминання площинних з’єднань (заклепки, болти, шпонки)
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Napruzhenyi-stan" class="link link-primary">Напружений стан</a><br/>
    – Плоский і об’ємний напружений стан <br/>
    – Тензор напружень <br/>
    – Головні напруження і максимальні дотичні <br/>
    – Коло Мора
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Zhyn" class="link link-primary">Згин</a><br/>
    – Плоский згин прямого стержня <br/>
    – Розподіл напружень при згині <br/>
    – Повний розрахунок <br/>
    – Дотичні напруження при згині
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Skladnyi-opir" class="link link-primary">Складний опір</a><br/>
    – Косий згин <br/>
    – Згин з крученням <br/>
    – Позацентровий розтяг і стиск <br/>
    – Умова міцності при складному опорі
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Statychno-vyznacheni-pruzhni-systemy" class="link link-primary">Статично визначені пружні системи</a><br/>
    – Метод початкових параметрів <br/>
    – Метод Максвелла – Мора <br/>
    – Метод Верещагіна <br/>
    – Метод Сімсона – Корноухова <br/>
    – Теореми Кастельяно
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Statychno-nevyznacheni-systemy" class="link link-primary">Статично невизначені системи</a><br/>
    – Метод сил (Мора – аналітичний) <br/>
    – Метод сил (Верещагіна – графоаналітичний) <br/>
    – Метод переміщень <br/>
    – Метод Монбрейя
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Steikyist-sterzhniv" class="link link-primary">Стійкість стержнів</a><br/>
    – Втрата стійкості при стиску <br/>
    – Формули Ейлера <br/>
    – Критична сила
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Dynamichni-navantazhennya" class="link link-primary">Динамічні навантаження</a><br/>
    – Ударне навантаження (динамічний коефіцієнт) <br/>
    – Робота і енергія при динаміці <br/>
    – Міцність і жорсткість при динаміці
  </li>
  <li>
    <a href="https://radmykh.pp.ua/store/Tsiklichni-navantazhennya-ta-vtoma" class="link link-primary">Циклічні навантаження та втома</a><br/>
    – Основи опору втомі <br/>
    – Діаграми витривалості <br/>
    – Гіпотези міцності при змінних напруженнях
  </li>
</ol>

    <div class="mt-10">
      <a href="/register" class="btn btn-primary">Записатися на курс</a>
    </div>
  </div>
</BaseLayout>
